<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <div id="<%= dom_id(food) %>">
      <p>Name: <%= food.name %></p>
      <p>Measurement: <%= food.measurement %></p>
      <p>Price: <%= food.price %></p>
      <p>Quantity: <%= food.quantity %></p>
      <p>
        <%= link_to "Show this food", food %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
